# --- Public packages ---
# General utility
numpy
lmfit
xarray
tqdm
h5py
scikit-learn
multipledispatch
coverage
matplotlib
pytest
cma

# 3rd party libraries
pymatching==2.1.0
stim

# Personal project dependencies
# git+https://github.com/MiniSean/QCoCircuits.git