# --- Public packages ---
# General utility
numpy
lmfit
xarray
tqdm
h5py
scikit-learn
multipledispatch
coverage
matplotlib
pytest

# Personal project dependencies
# git+https://github.com/MiniSean/QCoCircuits.git